.playerRed {
    background-color: red;
}

.playerBlue {
    background-color: blue;
}

.gameover {
    background-color: gray;
}

.gameArea {
    width: 350px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.gameContainer {
    display: inline-block;

}

.gameContainer.shrink {
    width: 175px;
    height: 151px;
    overflow: hidden;
}

.shrink .gameArea {
    position: relative;
    top: -75px;
    left: -88px;
    transform: scale(0.5);
}